<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="layoutSidenav_nav" th:fragment="sideNav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Go to</div>
                    <a class="nav-link" th:href="@{/admin/index}">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Dashboard
                    </a>
                    <div class="sb-sidenav-menu-heading">Manage</div>
                    <a class="nav-link" th:href="@{/admin/manage-product}">
                        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                        Products
                    </a>
                    <a class="nav-link" th:href="@{/admin/manage-order}">
                        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                        Orders
                    </a>
                    <a class="nav-link" th:href="@{/admin/manage-user}">
                        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                        Users
                    </a>
                    <a class="nav-link" th:href="@{/admin/manage-admin}">
                        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                        Admins
                    </a>
                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small">Logged in as:</div>
<!--                part hilman to add session and display the admin user's name-->
                Admin
            </div>
        </nav>
    </div>
</body>
</html>